Source: eg
Section: misc
Maintainer: ${DEBFULLNAME} <${DEBEMAIL}>
Standards-Version: 4.6.0.1
Priority: extra
Build-Depends: golang-1.22, dh-make, debhelper

Package: eg
Section: misc
Architecture: any
Description: developer friendly continuous integration
Depends: podman, duckdb, ${misc:Depends}
