#!/usr/bin/make -f
# See debhelper(7) (uncomment to enable)
# output every command that modifies files on the build system.
DH_VERBOSE=1

%:
	dh $@

override_dh_auto_build:
	echo "DH AUTO BUILD OVERRIDE ${CMAKE_BUILD_PARALLEL_LEVEL}"
	export CMAKE_BUILD_PARALLEL_LEVEL="$(nproc)"
	mkdir -p duckdb
	GEN=ninja OVERRIDE_GIT_DESCRIBE="v${PACKAGE_VERSION}" ENABLE_EXTENSION_AUTOLOADING=1 ENABLE_EXTENSION_AUTOINSTALL=1 CORE_EXTENSIONS='autocomplete;tpcd;fts;json;parquet;icu' make -C src
	DESTDIR="linux" DUCKDB_BUILD=Static cmake --install src/build/release


override_dh_usrlocal:
	echo "DH usrlocal override due to over restrict rules"
