#!/usr/bin/make -f
# See debhelper(7) (uncomment to enable)
# output every command that modifies files on the build system.
# DH_VERBOSE = 1

# see FEATURE AREAS in dpkg-buildflags(1)
#export DEB_BUILD_MAINT_OPTIONS = hardening=+all

# see ENVIRONMENT in dpkg-buildflags(1)
# package maintainers to append CFLAGS
#export DEB_CFLAGS_MAINT_APPEND  = -Wall -pedantic
# package maintainers to append LDFLAGS
#export DEB_LDFLAGS_MAINT_APPEND = -Wl,--as-needed

# need to set gocache otherwise it'll error out on launchpad builders
export GOMODCACHE ?= $(CURDIR)/.gomod
export GOCACHE ?= $(CURDIR)/.gocache
export GOBIN ?= $(CURDIR)/linux/usr/bin
export GOPROXY ?= direct

%:
	dh $@

override_dh_auto_build:
	echo "DH AUTO BUILD OVERRIDE"
	echo "$(CURDIR)"
	echo "GOCACHE: ${GOCACHE}"
	echo "GOMODCACHE: ${GOMODCACHE}"

	# copy the skeleton directory for linux distribution.
	cp -R $(CURDIR)/src/.dist/linux/* $(CURDIR)/linux
	mkdir -p $(GOBIN)
	GOCACHE=${GOCACHE} GOMODCACHE=${GOMODCACHE} /usr/lib/go-1.24/bin/go env
	GOCACHE=${GOCACHE} GOMODCACHE=${GOMODCACHE} /usr/lib/go-1.24/bin/go build -C src -mod=vendor -ldflags="-X 'github.com/egdaemon/eg/cmd/cmdopts.Treeish=${VCS_REVISION}'" -tags "duckdb_use_lib" -buildmode=pie -buildvcs=false -o $(GOBIN) ./cmd/...
	# tree $(CURDIR)/linux

override_dh_auto_test:
	echo "DH AUTO TEST OVERRIDE"
	CACHE_DIRECTORY="$(CURDIR)" $(CURDIR)/linux/usr/bin/eg version


override_dh_dwz:
    # Do nothing - this effectively disables dwz. golang does its own thing.
