[Unit]
Description=used to remap mounts to the unprivileged user.
After=network.target

[Service]
Type=oneshot
RemainAfterExit=true
ExecStart=/usr/bin/bindfs --multithreaded --map=root/egd:@root/@egd /eg.mnt /workload

[Install]
WantedBy=default.target
