[Unit]
Description=eg runtime daemon
After=network.target

[Service]
User=eg
IOSchedulingClass=idle
IOSchedulingPriority=7
#ProtectKernelTunables=true
#ProtectKernelModules=yes
PrivateMounts=yes
IPAddressDeny=link-local
IPAddressDeny=multicast
Restart=on-failure
CacheDirectory=%p
ConfigurationDirectory=%p
RuntimeDirectory=%p
RuntimeDirectoryMode=0700
EnvironmentFile=-/etc/eg/daemon.env
ExecStart=/usr/bin/eg daemon

[Install]
WantedBy=default.target
