[Unit]
Description=event driven disk ussage monitoring.

[Service]
Type=simple
Restart=on-failure
ProtectKernelModules=yes
PrivateMounts=yes
IPAddressDeny=link-local
IPAddressDeny=multicast
ExecStart=/usr/bin/eg disk-usage eg-podman-maintenance.service systemd-tmpfiles-clean.service


[Install]
WantedBy=default.target