[Unit]
Description=eg runtime daemon
After=network.target

[Service]
User=egd
Group=egd
IOSchedulingClass=idle
IOSchedulingPriority=7
PrivateMounts=yes
IPAddressDeny=link-local
IPAddressDeny=multicast
Restart=on-failure
CacheDirectory=%p
ConfigurationDirectory=%p
RuntimeDirectory=%p
RuntimeDirectoryMode=0700
EnvironmentFile=-/etc/eg/daemon.env
PermissionsStartOnly=true
ExecStartPre=/usr/bin/loginctl enable-linger egd
ExecStart=/usr/bin/eg daemon --sshknownhostspath=/etc/ssh/ssh_known_hosts

[Install]
WantedBy=default.target
