#!/usr/bin/make -f
# See debhelper(7) (uncomment to enable)
# output every command that modifies files on the build system.
DH_VERBOSE=1

%:
	dh $@

override_dh_auto_build:
	echo "DH AUTO BUILD OVERRIDE ${CMAKE_BUILD_PARALLEL_LEVEL}"
	echo "$(CURDIR)"

	# install various useful repositories into apt, this allows us to speed up builds
	# with minimal overhead.

	rsync --recursive --progress src/ linux

override_dh_usrlocal:
	echo "DH usrlocal override due to over restrict rules"
